* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navContainer {
    color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 21, 21);
    width: 100%;
    padding: 10px;
}